@mixin for-small-desktop {
  @media (max-width: 1025px) {
    @content;
  }
}

@mixin for-tablet {
  @media (max-width: 769px) {
    @content;
  }
}

@mixin for-normal-mobile {
  @media (max-width: 426px) {
    @content;
  }
}

@mixin for-medium-mobile {
  @media (max-width: 376px) {
    @content;
  }
}

@mixin for-small-mobile {
  @media (max-width: 321px) {
    @content;
  }
}

@mixin primary-button($color: "#09cfff") {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border: 1px solid $color;
  width: 220px;
  color: #eeeeee;
  letter-spacing: 3px;
  position: relative;
  outline: 0;
  overflow: hidden;
  background: none;
  z-index: 1;
  transition: 0.08s ease-in;
  -o-transition: 0.08s ease-in;
  -ms-transition: 0.08s ease-in;
  -moz-transition: 0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
  &:hover {
    color: black;
  }
  &:before {
    content: "";
    position: absolute;
    background: $color;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
  }

  &:hover:before {
    top: 0;
  }
}

@keyframes effect {
  0% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(1.3, 0.6);
  }

  50% {
    transform: scale(1.1, 0.9);
  }

  100% {
    transform: scale(1, 1);
  }
}
