<div class="education-container">

  <div class="wrapper">
    <pre class="code-text html-tag">&lt;html&gt;</pre>
    <pre class="code-text">&lt;body&gt;</pre>
    <pre class="code-text">&lt;h2&gt;</pre>
    <div class="fadein animation-duration-1000 title">Education</div>
    <pre class="code-text">&lt;/h2&gt;</pre>
    <div class="education-cards-container">
      <div class="undergraduation-card shadow-5">
        <div class="card-title">
          Undergraduation
        </div>
        <div class="section">
          <span class="label">Institution:</span> University of Mumbai, Mumbai, India
        </div>
        <div class="section">
          <span class="label">Degree:</span> Bachelor of Engineering in Electronics & Telecommunication, <i> May
            2019</i>
        </div>
        <div class="section">
          <span class="label">CGPA:</span> 9/10
        </div>
        <div class="section">
          <span class="label">Relevant Coursework: </span>Applied Mathematics, Structured Programming Approach,
          Operating System, Image and Video Processing, Object-Oriented Programming Methodology Lab.,
          Microprocessors & Peripherals, Computer Communication & Telecom Networks
        </div>
      </div>

      <div class="higher-secondary-school-card shadow-5">
        <div class="card-title">
          12th Standard
        </div>
        <div class="section">
          <span class="label">Institution:</span> Bal Bharathi Public School, Mumbai, India
        </div>
        <div class="section">
          <span class="label">Degree:</span> Senior School Certificate (CBSE), <i> May
            2014</i>
        </div>
        <div class="section">
          <span class="label">Percentage:</span> 86.4/100
        </div>
        <div class="section">
          <span class="label">Relevant Coursework: </span>Physics, Chemistry, Mathematics, Computer Science
        </div>
      </div>

      <div class="secondary-school-card shadow-5">
        <div class="card-title">
          10th Standard
        </div>
        <div class="section">
          <span class="label">Institution:</span> Bal Bharathi Public School, Mumbai, India
        </div>
        <div class="section">
          <span class="label">Degree:</span> Secondary School Certificate (CBSE), <i> May 2012</i>
        </div>
        <div class="section">
          <span class="label">CGPA:</span> 9/10
        </div>
        <div class="section">
          <span class="label">Relevant Coursework: </span>Science, Mathematics
        </div>
      </div>
    </div>
    <pre class="code-text ">&lt;/body&gt;</pre>
    <pre class="code-text html-tag">&lt;/html&gt;</pre>
  </div>
</div>