<div class="contact-container">
  <div class="wrapper">
    <pre class="code-text html-tag">&lt;html&gt;</pre>
    <pre class="code-text">&lt;body&gt;</pre>
    <pre class="code-text">&lt;h2&gt;</pre>
    <div class="fadein animation-duration-1000 title">Contact Me</div>
    <pre class="code-text">&lt;/h3&gt;</pre>
    <pre class="code-text">&lt;p&gt;</pre>
    <div class="description">
      I am interest in full time web development role for ambitious or large-scale project.
      However, if you have any other request or question, kindly reach me out on following platforms
    </div>
    <pre class="code-text">&lt;/p&gt;</pre>
    <pre class="code-text">&lt;div&gt;</pre>
    <div class="button-container">
      <button (click)="redirect('linkedin')" class="contact-button fill linkedin">
        LinkedIn
      </button>
      <button (click)="redirect('github')" class="contact-button fill github">
        GitHub
      </button>
      <button (click)="redirect('hackerrank')" class="contact-button fill hackerrank ">
        Hackerank
      </button>
    </div>
    <pre class="code-text">&lt;/div&gt;</pre>
    <pre class="code-text">&lt;/body&gt;</pre>
    <pre class="code-text html-tag">&lt;/html&gt;</pre>
  </div>
</div>