<div class="contact-container w-full h-full flex p-5 overflow-y-auto overflow-x-hidden">
  <div class="p-grid my-auto">
    <div class="p-col-6">
      <pre class="code-text">&lt;html&gt;</pre>
      <pre class="code-text mt-2 ml-3">&lt;body&gt;</pre>
      <pre class="code-text mt-4 ml-3">&lt;h2&gt;</pre>
      <div class="fadein animation-duration-1000 title mt-2 ml-4">Contact Me</div>
      <pre class="code-text ml-3 mt-2">&lt;/h3&gt;</pre>
      <pre class="code-text ml-3 mt-2">&lt;p&gt;</pre>
      <div class="description ml-5 mt-2">
        I am interest in full time web development role for ambitious or large-scale project.
        <br>However, if you have any other request or question, kindly reach me out on following platforms
      </div>
      <pre class="code-text ml-3 mt-2">&lt;/p&gt;</pre>
      <pre class="code-text ml-3 mt-2">&lt;div&gt;</pre>
      <div class="flex ml-5 mt-2">
        <button (click)="redirect('linkedin')" class="contact-button fill linkedin">
          LinkedIn
        </button>
        <button (click)="redirect('github')" class="contact-button fill ml-3 github">
          GitHub
        </button>
        <!-- <button (click)="redirect('hackrank')" class="contact-button fill ml-3 hackerrank ">
            Hackerank
          </button> -->
      </div>
      <pre class="code-text ml-3 mt-2">&lt;/div&gt;</pre>
      <pre class="code-text mt-5 ml-3">&lt;/body&gt;</pre>
      <pre class="code-text mt-2 ">&lt;/html&gt;</pre>

      <!-- <div class="form-container ml-5 mt-2">
          <form>
            <div>
              <input class="name-field"/>
              <input class="name-field">
            </div>
            <div>
              <input class="subject-field"/>
            </div>
            <div class="message-field">
      
            </div>
           
      
          </form>
        </div> -->
    </div>

  </div>


</div>
