@import "../../../constants/variables.scss";
@import "../../../constants/mixins.scss";

.contact-container {
  background-color: $background-light;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  .wrapper {
    margin: auto 0px;
    padding: 20px 20px 20px 20px;
    width: 60%;
    @include for-small-desktop {
      width: 80%;
    }
    @include for-normal-mobile {
      width: 100%;
    }
    .code-text {
      color: $text-dark;
      font-family: $dancing-font;
      font-size: 18px;
      margin: 10px 0px 0px 20px;
      &.html-tag {
        margin-left: 0;
      }
      @include for-normal-mobile {
        margin-left: 0px;
      }
    }

    .title {
      font-size: 64px;
      font-family: $bold-font;
      color: $blue-light;
      line-height: 60px;
      letter-spacing: -2.5px;
      margin-left: 35px;
      margin-top: 4px;
      @include for-normal-mobile {
        font-size: 48px;
        margin-left: 35px;
      }
      @include for-small-mobile {
        font-size: 42px;
      }
    }

    .description {
      font-size: 16px;
      color: $text-light;
      margin-left: 35px;
      margin-top: 10px;
      @include for-normal-mobile {
        font-size: 16px;
        margin-left: 35px;
      }
      @include for-small-mobile {
        font-size: 14px;
      }
    }

    .form-container {
      .name-field {
        background-color: #2b2b2b;
        color: #8d8d8d;
        height: 50px;
        font-size: 16px;
        font-family: $default-font;
        padding: 0px 20px;
        &:focus {
          box-shadow: none;
        }
      }
    }

    .button-container {
      display: flex;     
      margin-left: 35px;
      @include for-normal-mobile {
        margin-left: 35px;
      }
      margin-top: 10px;
      @include for-normal-mobile {
        flex-direction: column;        
      }
      .contact-button {
        &.linkedin {
          @include primary-button($blue-light);
          @include for-tablet {
            width: 170px;
            height: 44px;
          }
        }
        &.github {
          margin-left: 16px;
          @include primary-button($orange-light);
          @include for-tablet {
            width: 170px;
            height: 44px;
          }
          @include for-normal-mobile {
            margin: 16px 0px 0px 0px;
          }
        }
        &.hackerrank {
          margin-left: 16px;
          @include primary-button($green-light);
          @include for-tablet {
            width: 170px;
            height: 44px;
          }
          @include for-normal-mobile {
            margin: 16px 0px 0px 0px;
          }
        }
      }
    }
  }
}
