<div class="app-body-container">
  <div class="navbar mobile-view" [class.showNavbar]="showMenu">
    <div class="primary-section" routerLink="./home">
      <div class="text-center pt-4">
        <img class="profile-photo" src="assets/images/profile.JPG" />
      </div>
      <div class="name mt-1">
        Kishan Kumar
      </div>
      <div class="role mt-2 pb-3">
        Software Developer <br>Mumbai, India
      </div>
    </div>

    <div class="navigation-list">
      <div class="tab" routerLink="./home" (click)="handleTabClick()" routerLinkActive="selected">
        Home</div>
      <div class="tab disabled" (click)="handleTabClick()" routerLink="./education" routerLinkActive="selected">
        Education</div>
      <div class="tab disabled" routerLink="./work" (click)="handleTabClick()" routerLinkActive="selected">Work</div>
      <div class="tab disabled" routerLink="./skills" (click)="handleTabClick()" routerLinkActive="selected">Skills
      </div>
      <div class="tab" routerLink="./contact" (click)="handleTabClick()" routerLinkActive="selected">
        Contact</div>
    </div>
    
    <div class="social-media-link">
      <a href="https://www.linkedin.com/in/kishankumar3202">
        <div class="icon">
          <img src="assets/icons/linkedin.svg" />
        </div>
      </a>
      <a href="https://github.com/kishan7kumar">
        <div class="icon">
          <img src="assets/icons/github.svg" />
        </div>
      </a>
      <a href="https://www.hackerrank.com/kishankumar3202">
        <div class="icon">
          <img src="assets/icons/hackerrank.svg" />
        </div>
      </a>

    </div>
  </div>
  <div class="app-router-wrapper">
    <router-outlet></router-outlet>
  </div>

  <div (click)="handleMenuBarClick()" class="mobile-menu absolute pt-2 pb-1 px-2">
    <i class="pi" [class.pi-bars]="!showMenu" [class.pi-times]="showMenu"></i>
  </div>

</div>