@import "./constants/variables.scss";
@import "./constants/mixins.scss";

.app-body-container {
  position: relative;
  padding: 20px 40px;
  @include for-normal-mobile {
    padding: 20px;
  }
  overflow-x: hidden;
}


