@import "./constants/variables.scss";
@import "./constants/mixins.scss";

.app-body-container {
  position: relative;
  padding: 20px 40px;
  @include for-normal-mobile {
    padding: 20px;
  }
  overflow-x: hidden;
  ::ng-deep {
    .menu-icon.p-button {
      position: absolute;
      top: 12px;
      right: 12px;
      display: none;
      padding: 16px;
      height: 4rem;
      width: 4rem;
      .pi {
        color: $blue-dark;
        font-size: 32px;
      }
      @include for-normal-mobile {
        display: block;
      }
    }
  }

  .topbar {
    display: flex;
    @include for-normal-mobile {
      display: none;
    }
    justify-content: end;

    ::ng-deep {
      .navigation-tab.p-button {
        font-family: $medium-font;
        color: $text-darker;
        &:hover {
          color: $blue-dark;
        }
      }
      .p-button.resume-button {
        background-color: $blue-dark;
        border: none;
        font-family: $default-font;
        margin-left: 16px;
        transition: background-color linear 0.4s;
        &:hover {
          background-color: $background-medium;
        }
      }
    }
  }
  .home-container {
    display: flex;
    width: 100%;
    @include for-small-desktop {
      margin-top: 100px;
    }
    @include for-tablet {
      flex-direction: column;
      justify-content: center;
      margin-top: 100px;
    }
    .description-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      @include for-tablet {
        width: 100%;
      }
      .name {
        font-size: 80px;
        line-height: 80px;
        font-family: $default-font;
        color: $text-darker;
        @include for-small-desktop {
          font-size: 64px;
          line-height: normal;
        }
        @include for-normal-mobile {
          font-size: 36px;
          line-height: normal;
        }
      }
      .contact {
        margin-top: 20px;
        font-size: 18px;
        font-family: $default-font;
        color: $text-darker;
        @include for-normal-mobile {
          font-size: 16px;
          margin-top: 10px;
        }
        .head {
          font-family: $bold-font;
        }
      }

      .social-button {
        margin-top: 20px;
        @include for-normal-mobile {
          margin-top: 10px;
        }
        margin-left: -14px;
        display: flex;
        ::ng-deep {
          .p-button-rounded.p-button-text {
            min-width: 0;
            &:hover {
              img {
                filter: invert(17%) sepia(97%) saturate(2944%) hue-rotate(232deg) brightness(116%) contrast(99%);
              }
            }
          }
        }
      }
      .about-me {
        margin-top: 20px;
        font-family: $default-font;
        font-size: 20px;
        line-height: 30px;
        color: $text-dark;
        @include for-normal-mobile {
          font-size: 16px;
          line-height: 22px;
          margin-top: 10px;
        }
      }
    }
    .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      @include for-tablet {
        width: 100%;
      }
      .image {
        width: 80%;
        @include for-normal-mobile {
          width: 100%;
        }
        height: auto;
      }
    }
  }

  .divider-container {
    margin: 100px 0px 40px 0px;
    .divider {
      background-color: $blue-dark;
      height: 1px;
    }
    .title {
      margin-top: 16px;
      color: $blue-dark;
      font-family: $bold-font;
      letter-spacing: 2px;
      @include for-normal-mobile {
        letter-spacing: normal;
      }
    }
  }

  .work-container {
    .description-one {
      display: flex;
      justify-content: space-between;
      @include for-normal-mobile {
        flex-direction: column;
      }
      .job-role {
        font-size: 30px;
        font-family: $default-font;
        color: $text-darker;
        @include for-normal-mobile {
          font-size: 22px;
        }
      }
      .date {
        font-size: 30px;
        font-family: $default-font;
        color: $text-darker;
        @include for-normal-mobile {
          font-size: 16px;
        }
      }
    }
    .description-two {
      .comapany-name {
        margin-bottom: 20px;
        font-size: 20px;
        font-family: $light-font;
        color: $text-darker;
        @include for-normal-mobile {
          font-size: 16px;
        }
      }
    }
    .description-three {
      margin-left: -20px;
      .content {
        font-size: 20px;
        margin-bottom: 20px;
        list-style: disc;
        font-family: $default-font;
        color: $text-dark;
        @include for-normal-mobile {
          font-size: 16px;
        }
      }
    }
  }

  .skills-container {
    .section {
      font-size: 20px;
      margin-bottom: 16px;
      color: $text-dark;
      font-family: $default-font;
      @include for-normal-mobile {
        font-size: 16px;
      }
      .header {
        font-family: $bold-font;
      }
    }
  }

  // EDUCATION CONTAINER
  .education-container {
    .description-one {
      display: flex;
      justify-content: space-between;
      @include for-normal-mobile {
        flex-direction: column;
      }
      .univesity-name {
        font-size: 30px;
        font-family: $default-font;
        color: $text-darker;
        @include for-normal-mobile {
          font-size: 22px;
        }
      }
      .date {
        font-size: 30px;
        font-family: $default-font;
        color: $text-darker;
        @include for-normal-mobile {
          font-size: 16px;
        }
      }
    }
    .description-two {
      .degree-name {
        margin-bottom: 20px;
        font-size: 20px;
        font-family: $light-font;
        color: $text-darker;
        @include for-normal-mobile {
          font-size: 16px;
        }
      }
    }
    .description-three {
      margin-left: -20px;
      .content {
        font-size: 20px;
        list-style: disc;
        margin-bottom: 20px;
        font-family: $default-font;
        color: $text-dark;
        @include for-normal-mobile {
          font-size: 16px;
        }
      }
    }
  }

  .contact-container {
    .description {
      font-size: 20px;
      color: $text-dark;
      font-family: $default-font;
      @include for-normal-mobile {
        font-size: 16px;
      }
    }
    .contact {
      margin-top: 16px;
      font-size: 20px;
      color: $text-darker;
      font-family: $light-font;
      @include for-normal-mobile {
        font-size: 16px;
      }
      .header {
        font-size: 30px;
        color: $text-darker;
        font-family: $default-font;
        @include for-normal-mobile {
          font-size: 20px;
        }
      }
    }

    .social-button {
      margin-top: 20px;
      display: flex;
      ::ng-deep {
        .p-button-rounded.p-button-outlined {
          min-width: 0;
          margin-right: 16px;
          .blue {
            filter: invert(17%) sepia(97%) saturate(2944%) hue-rotate(232deg) brightness(116%) contrast(99%);
          }
          .pink {
            filter: invert(32%) sepia(99%) saturate(1250%) hue-rotate(315deg) brightness(105%) contrast(103%);
          }
          .green {
            filter: invert(54%) sepia(63%) saturate(467%) hue-rotate(49deg) brightness(91%) contrast(80%);
          }
        }
      }
    }
  }

  .copyright {
    font-size: 20px;
    font-family: $default-font;
    color: $text-darker;
    @include for-normal-mobile {
      font-size: 16px;
    }
  }
}

::ng-deep {
  .mobile-navigation-sidebar {
    .p-sidebar-header {
      .p-sidebar-icon {
        height: 4rem;
        width: 4rem;
        .pi {
          color: $blue-dark;
          font-size: 32px;
        }
      }
    }
    .p-sidebar-content {
      height: 100%;
      .navigation-list {
        display: flex;
        flex-direction: column;
        text-align: center;
        .navigation-tab.p-button {
          margin-bottom: 10px;
          font-family: $default-font;
          font-size: 20px;
          width: 120px;
          color: $text-dark;
          &:hover {
            color: $blue-dark;
          }
        }
        .p-button.resume-button {
          background-color: $blue-dark;
          border: none;
          font-size: 20px;
          font-family: $default-font;
          transition: background-color linear 0.4s;
          &:hover {
            background-color: $background-medium;
          }
        }
      }
    }
  }
}
