<div class="home-container w-full h-full overflow-y-auto">

  <div id="particles-js"></div>

  <div class="grid w-full h-full">
    <div class="col-12 flex py-5 pl-5">
      <div class="wrapper fadein animation-duration-1000 my-auto">
        <pre class="code-text">&lt;html&gt;</pre>
        <pre class="code-text mt-2">&lt;body&gt;</pre>
        <div class="title mt-5">
          <pre class="code-text">&lt;h1&gt;</pre>
          <div class="intro-text">
            <span class="blast">H</span>
            <span class="blast">i</span>
            <span class="blast">,</span>
            <br>
            <span class="blast">I</span>
            <span class="blast">'</span>
            <span class="blast">m</span>
            <span class="blast gradient ml-3">K</span>
            <!-- <span> <img class="logo ml-4" src="assets/images/K.png"/></span> -->
            <span class="blast gradient">i</span>
            <span class="blast gradient">s</span>
            <span class="blast gradient">h</span>
            <span class="blast gradient">a</span>
            <span class="blast gradient">n</span>
            <span class="blast">,</span>
            <br>
            <span class="blast">s</span>
            <span class="blast">o</span>
            <span class="blast">f</span>
            <span class="blast">t</span>
            <span class="blast">w</span>
            <span class="blast">a</span>
            <span class="blast">r</span>
            <span class="blast">e</span>
            <span class="blast ml-4"> d</span>
            <span class="blast">e</span>
            <span class="blast">v</span>
            <span class="blast">e</span>
            <span class="blast">l</span>
            <span class="blast">o</span>
            <span class="blast">p</span>
            <span class="blast">e</span>
            <span class="blast">r</span>
          </div>
          <div class="intro-text-mobile">
            <div>Hi,</div>
            <div>
              I'm <span class="blast gradient">Kishan,</span>
            </div>
            <div>
              Software
            </div>
            <div>
              Developer
            </div>

          </div>
          <pre class='code-text-2'>&lt;/h1&gt;</pre>
          <pre class="code-text">&lt;p&gt;</pre>
          <div class="sub-title">
            Front End Developer / UI Engineer
          </div>
          <pre class="code-text">&lt;/p&gt;</pre>
        </div>

        <pre class="code-text mt-2">&lt;button&gt;</pre>

        <button (click)="handleContactClick()" class="contact-button fill mt-2">
          Contact me !
        </button>
        <pre class="code-text mt-2">&lt;/button&gt;</pre>
        <pre class="code-text mt-5">&lt;/html&gt;</pre>
        <pre class="code-text mt-2">&lt;/body&gt;</pre>


      </div>

    </div>

  </div>



</div>
