<div class="home-container">

  <div class="wrapper fadein animation-duration-1000">
    <pre class="code-text html-tag">&lt;html&gt;</pre>
    <div class="title">
      <pre class="code-text">&lt;body&gt;</pre>
      <pre class="code-text">&lt;h1&gt;</pre>
      <div class="intro-text">
        <div>
          Hi,<br>
          I'm <span class="gradient">Kishan,</span><br>
          software developer
        </div>
       
      </div>
      <pre class='code-text'>&lt;/h1&gt;</pre>
      <pre class="code-text">&lt;p&gt;</pre>
      <div class="sub-title">
        Front End Developer / UI Engineer
      </div>
      <pre class="code-text">&lt;/p&gt;</pre>
      <pre class="code-text mt-2">&lt;button&gt;</pre>

      <button (click)="handleContactClick()" class="contact-me-button fill">
        Contact me !
      </button>
      <pre class="code-text mt-2">&lt;/button&gt;</pre>
      <pre class="code-text mt-2">&lt;/body&gt;</pre>
    </div>

    <pre class="code-text html-tag">&lt;/html&gt;</pre>

 

</div>
