@import "../../../constants/variables.scss";
@import "../../../constants/mixins.scss";

.home-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  padding: 20px 0px;
  background-color: #1d1d1d;
  #particles-js {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
  }
  .wrapper {
    z-index: 1;
    margin: auto 0px;
    padding: 0px 30px;
    @include for-tablet {
      padding: 0px 10px;
    }
    .title {
      padding-left: 20px;
      @include for-normal-mobile {
        padding-left: 0;
      }
      .intro-text {
        margin-left: 25px;
        line-height: 80px;
        letter-spacing: -1px;
        font-size: 82px;
        font-family: $bold-font;
        color: $text-white;
        @include for-small-desktop {
          font-size: 72px;
          line-height: 70px;
        }
        @include for-tablet {
          font-size: 8vw;
          line-height: 8vw;
        }
        @include for-normal-mobile {
          font-size: 36px;
          line-height: 36px;
        }
        .gradient {
          background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          -webkit-animation: hue 10s infinite linear;
        }
      }
      .sub-title {
        font-family: $default-font;
        font-size: 18px;
        letter-spacing: 3px;
        color: $text-medium;
        margin-left: 24px;
        margin-top: 8px;        
        @include for-tablet {
          letter-spacing: normal;
        }
      }
    }
    .code-text {
      color: #616161;
      font-family: $dancing-font;
      font-size: 18px;
      margin: 8px 0px 0px 10px;
    }
    .contact-me-button {
      margin-left: 24px;
      margin-top: 8px;
      @include primary-button($blue-light);
      @include for-normal-mobile {
        width: 170px;
        height: 44px;
      }
    }
  }
}
@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
